body { 
	padding-top: 70px; 
}

.editMode{
	
}

.navbar {
	color: white;
	margin: 0;
	padding: 12px;
	background-color: grey;
	border: 1px solid black;
	opacity: .9;
	width: 100%;
}

.message {
	background-color: skyblue;
	border: 2px solid blue;
	border-radius: 10px;
	margin: 10px;
	padding: 5px;
}

.message p {
	display: inline-block;
}

.message button {
	margin: 5px;
}

.timestamp {
	margin-top: -5px;
	color: gray;
}

.messageBox {
	border: 2px solid firebrick;
	border-radius: 10px;
	min-height: 500px;
}

.dark {
	background-color: darkgray;
	color: white;
}

.large {
	font-size: 2em;
}